<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<TITLE>Send-A-Card example template</TITLE>
</head>

<body>


<H1>Send-A-Card</H1>
<h2>EXAMPLE TEMPLATE</h2>


<pre>
<strong>Global markers, as set up in TypoScript:</strong>
These are substituted throughout the whole template.

<em>Markers:</em>
GW1B / GW1E      Wraping major prompts
GW2B / GW2E      Wraping error messages
GW3B / GW3E      Wraping the card image caption
GW4B / GW4E

GC1
GC2
GC3
GC4
</pre>



<br /><br /><br /><br /><HR><br /><br /><br />
<h3>TEMPLATE_SELECTION_PAGE</h3>
<em>This is the template where the selection of cards is presented.</em>
<br />
<br />
<!-- ###TEMPLATE_SELECTION_PAGE### begin -->
<div class="tx-srsendcard-pi1">
<p>###GW1B######SELECT_IMAGE_PROMPT######GW1E###</p><br />
###IMAGE_SELECTOR###
</div>
<!-- ###TEMPLATE_SELECTION_PAGE### end -->

<br /><br /><br /><br /><HR><br /><br /><br />
<h3>TEMPLATE_ALTERNATE_SELECTION_PAGE</h3>
<em>This is the template where multiple series of cards are presented.</em>
<br />
<br />
<!-- ###TEMPLATE_ALTERNATE_SELECTION_PAGE### begin -->
<div class="tx-srsendcard-pi1">
<p>###GW1B######SELECT_IMAGE_PROMPT######GW1E###</p><br />
<!-- ###TEMPLATE_SINGLE_CARDS_SERIES### begin
	This is the template for a single series of cards. 
-->
<p>###GW4B######CARDS_SERIES_TITLE######GW4E###</p><br />
###IMAGE_SELECTOR###
<!-- ###TEMPLATE_SINGLE_CARDS_SERIES### end -->
</div>
<!-- ###TEMPLATE_ALTERNATE_SELECTION_PAGE### end -->


<br /><br /><br /><br /><HR><br /><br /><br />
<h3>TEMPLATE_CARD_FORM</h3>
<em>This is the template for the form where the sender enters all the information about the postcard.</em>
<br />
<br />
<!-- ###TEMPLATE_CARD_FORM### begin -->
<div class="tx-srsendcard-pi1">
<TABLE width="100%" cellpadding="0" cellspacing="0" border="0">
 <tr> 
	<td width="15"> </td>
	<td valign="top">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td width="100%" colspan="2"><br />
				<div align="center"><p>

<!--###IMG_INSERT### this subpart is removed if the image extension is not jpg, jpeg, gif or png -->
	<img src="###CARD_IMAGE_PATH######CARD_IMAGE###" alt="###IMAGEALTTEXT###" title="###CARD_CAPTION###" style="width: ###IMAGE_WIDTH###px; height: ###IMAGE_HEIGHT###px;"  />
<!--###IMG_INSERT###-->

<!--###QUICKTIME_INSERT### this subpart is removed if the image extension is not mov -->
<object   classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" codebase="http://www.apple.com/qtactivex/qtplugin.cab" style="width: ###IMAGE_WIDTH###px; height: ###IMAGE_HEIGHT###px;" title="###CARD_CAPTION###">
	<param name="src" value="###CARD_IMAGE_PATH######CARD_IMAGE###" />
	<param name="autoplay" value="true"  valuetype="data" />
	<param name="cache" value="true"  valuetype="data" />
	<param name="kioskmode" value="true"  valuetype="data" />
	<param name="controller" value="true"  valuetype="data" />
	<param name="scale" value="aspect"  valuetype="data" />
	<!--[if !IE]> <-->
	<object type="video/quicktime" data="###CARD_IMAGE_PATH######CARD_IMAGE###" pluginspage="http://www.apple.com/###LANGUAGE###/quicktime/download/"style="width: ###IMAGE_WIDTH###px; height: ###IMAGE_HEIGHT###px;" title="###CARD_CAPTION###">
		<param name="autoplay" value="true" valuetype="data" />
		<param name="cache" value="true"  valuetype="data" />
		<param name="kioskmode" value="true"  valuetype="data" />
		<param name="controller" value="true"  valuetype="data" />
		<param name="scale" value="aspect"  valuetype="data" />
	<!--> <![endif]-->
			<img src="###CARD_IMAGE_PATH######SELECTION_IMAGE###" alt="###SELECTION_IMAGE_ALTTEXT###" title="###CARD_CAPTION###" style="width: ###SELECTION_IMAGE_WIDTH###px; height: ###SELECTION_IMAGE_HEIGHT###px;"  />
			<br /><p>###NEED_QUICKTIME_MESSAGE### http://www.apple.com/###LANGUAGE###/quicktime/download/</p>
	<!--[if !IE]> <-->
	</object>
	<!--> <![endif]-->
</object>
<!--###QUICKTIME_INSERT###-->

<!--###SHOCKWAVE_INSERT### this subpart is removed if the image extension is not swf -->
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" style="width: ###IMAGE_WIDTH###px; height: ###IMAGE_HEIGHT###px;" title="###CARD_CAPTION###">
	<param name="movie" value="###CARD_IMAGE_PATH######CARD_IMAGE###" /> 
	<param name="play" value="true"  valuetype="data" />
	<param name="loop" value="false"  valuetype="data" />
	<param name="menu" value="true"  valuetype="data" />
	<param name="scale" value="showall"  valuetype="data" />
	<param name="quality" value="high"  valuetype="data" />
	<!--[if !IE]> <-->
	<object type="application/x-shockwave-flash" data="###CARD_IMAGE_PATH######CARD_IMAGE###" pluginspage="http://www.macromedia.com/go/getflashplayer" style="width: ###IMAGE_WIDTH###px; height: ###IMAGE_HEIGHT###px;" title="###CARD_CAPTION###"> 
		<param name="play" value="true"  valuetype="data" />
		<param name="loop" value="false"  valuetype="data" />
		<param name="menu" value="true"  valuetype="data" />
		<param name="scale" value="showall"  valuetype="data" />
		<param name="quality" value="high"  valuetype="data" />
	<!--> <![endif]-->
			<img src="###CARD_IMAGE_PATH######SELECTION_IMAGE###" alt="###SELECTION_IMAGE_ALTTEXT###" title="###CARD_CAPTION###" style="width: ###SELECTION_IMAGE_WIDTH###px; height: ###SELECTION_IMAGE_HEIGHT###px;" />
			<br /><p>###NEED_FLASH_MESSAGE### http://www.macromedia.com/go/getflashplayer</p>
	<!--[if !IE]> <-->
	</object>
	<!--> <![endif]-->
</object>
<!--###SHOCKWAVE_INSERT###-->

				</p><br />
				<p>###GW3B######CARD_CAPTION_PRESENT######GW3E###</p><br />
				<br />
				</div>
				</td>
			</tr>
		</table>


<form action="###FORM_URL###" method="POST">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
         <td colspan="2" >
		<p>###GW1B######TO_WHO_PROMPT######GW1E###</p><br />
	  </td>
	</tr>
<!--###ERROR_MSG_TO_NAME### this subpart is removed if the form has no errors! -->
	<tr>
	<td colspan="2" >
		<p>###GW2B######MISSING_TO_NAME######GW2E###</p>
	</td>
	</tr>
<!--###ERROR_MSG_TO_NAME###-->
	<tr> 
	  <td width="25%"><p>###TO_NAME_LABEL###</p></td>
	  <td> 
		<p><input type="text" size="40" name="tx_srsendcard_pi1[to_name]" value="###TO_NAME###"></p>
	  </td>
	</tr>
<!--###ERROR_MSG_TO_EMAIL### this subpart is removed if the form has no errors! -->
	<tr>
		<td colspan="2" ><p>###GW2B######INVALID_TO_EMAIL######GW2E###</p></TD>
	</tr>
<!--###ERROR_MSG_TO_EMAIL###-->
	<tr> 
	  <td width="25%"><p>###TO_EMAIL_LABEL###</p></td>
	  <td> 
		<p><input type="text" size="40" name="tx_srsendcard_pi1[to_email]" value="###TO_EMAIL###"></p>
	  </td>
	</tr>
	<tr>
         <td colspan="2" ><br />
		<p>###GW1B######FROM_WHO_PROMPT######GW1E###</p><br />
	  </td>
	</tr>
<!--###ERROR_MSG_FROM_NAME### this subpart is removed if the form has no errors! -->
	<tr>
		<td colspan="2"><p>###GW2B######MISSING_FROM_NAME######GW2E###</p></td>
	</tr>
<!--###ERROR_MSG_FROM_NAME###-->
	<tr> 
	  <td width="25%"><p>###FROM_NAME_LABEL###</p></td>
	  <td> 
		<p><input type="text" size="40" name="tx_srsendcard_pi1[from_name]" value="###FROM_NAME###"></p>
	  </td>
	</tr>
<!--###ERROR_MSG_FROM_EMAIL### this subpart is removed if the form has no errors! -->
	<tr>
		<td colspan=2 ><p>###GW2B######INVALID_FROM_EMAIL######GW2E###</p></td>
	</tr>
<!--###ERROR_MSG_FROM_EMAIL###-->
	<tr> 
	  <td width="25%"><p>###FROM_EMAIL_LABEL###</p></td>
	  <td> 
		<p><input type="text" size="40" name="tx_srsendcard_pi1[from_email]" value="###FROM_EMAIL###"></p>
	  </td>
	</tr>
<!--###SEND_DATE_INSERT### this subpart is removed if the card sending date option is disabled inTS template! -->
	<tr>
         <td colspan="2" ><br />
		<p>###GW1B######SEND_DATE_PROMPT######GW1E###</p><br />
	  </td>
	</tr>
	<tr> 
	  <td width="25%"><p> </p></td>
	  <td><p><select name="tx_srsendcard_pi1[day]">###CARD_SEND_DAY_SELECTOR###</select>&nbsp;
	  <select name="tx_srsendcard_pi1[month]">###CARD_SEND_MONTH_SELECTOR###</select>&nbsp;
	  <select name="tx_srsendcard_pi1[year]">###CARD_SEND_YEAR_SELECTOR###</select></p></td>
	</tr>
<!--###SEND_DATE_INSERT###-->
<!--###CARD_OPTIONS_INSERT### this subpart is removed if card options are disabled inTS template! -->
	<tr>
         <td colspan="2" ><br />
		<p>###GW1B######CARD_OPTIONS_PROMPT######GW1E###</p><br />
	  </td>
	</tr>
<!--###ANY_FONTFACE_SELECTOR_INSERT### this subpart is removed if font face selection is disabled in TS template! -->
	<tr> 
	  <td width="25%"><p>###CARD_FONT_LABEL###</p></td>
	  <td><div class="tx-srsendcard-pi1-radio"><p>
<!--###FONTFACE_SELECTOR_INSERT### this subpart is removed if the graphical message option if "on"  in TS template! -->
		<select name="tx_srsendcard_pi1[fontface]">
		###FONTFACE_SELECTOR###
		</select>
<!--###FONTFACE_SELECTOR_INSERT###-->
		###FONTFILE_SELECTOR###
		</p></div>
	  </td>
	</tr>
<!--###ANY_FONTFACE_SELECTOR_INSERT### -->
<!--###BGCOLOR_SELECTOR_INSERT### this subpart is removed if background color selection is disabled inTS template! -->
	<tr> 
	  <td width="25%"><p>###CARD_BGCOLOR_LABEL###</p></td>
	  <td><p>
		###BGCOLOR_SELECTOR###</p>
	  </td>
	</tr>
<!--###BGCOLOR_SELECTOR_INSERT###-->
<!--###FONTCOLOR_SELECTOR_INSERT### this subpart is removed if font color selection is disabled inTS template! -->
	<tr> 
	  <td width="25%"><p>###CARD_FONTCOLOR_LABEL###</p></td>
	  <td><p>
		###FONTCOLOR_SELECTOR###</p>
	  </td>
	</tr> 
<!--###FONTCOLOR_SELECTOR_INSERT###-->
<!--###MUSIC_SELECTOR_INSERT### this subpart is removed if music is disabled inTS template! -->
	<tr> 
	  <td width="25%"><p>###MUSIC_PROMPT###</p></td>
	  <td width="80%">
		<p><select name="tx_srsendcard_pi1[card_music]">
		###CARD_MUSIC_SELECTOR###
		</select></p>
	  </td>
	</tr>
<!--###MUSIC_SELECTOR_INSERT###-->
<!--###CARD_OPTIONS_INSERT###-->
	<tr>
         <td colspan="2" ><br />
		<p>###GW1B######MESSAGE_PROMPT######GW1E###</p><br />
	  </td>
	</tr>
	<tr> 
	  <td width="25%"><p>###CARD_TITLE_LABEL###</p></td>
	  <td><p>
		<textarea name="tx_srsendcard_pi1[card_title]" cols="60" rows="1" wrap="VIRTUAL">###CARD_TITLE###</textarea></p>
	  </td>
	</tr>
<!--###ERROR_MSG_CARD_MESSAGE### this subpart is removed if the form has no errors! -->
	<tr>
		<td colspan="2" ><p>###GW2B######MISSING_CARD_MESSAGE######GW2E###</p></td>
	</tr>
<!--###ERROR_MSG_CARD_MESSAGE###-->
	<tr> 
	  <td width="25%"><p>###CARD_MESSAGE_LABEL###</p></td>
	  <td><p>###MESSAGE_LINK_INSTRUCTION###<br>
		<textarea name="tx_srsendcard_pi1[card_message]" cols="60" rows="8" wrap="VIRTUAL">###CARD_MESSAGE###</textarea></p>
	  </td>
	</tr>
	<tr> 
	  <td width="25%"><p>###CARD_SIGNATURE_LABEL###</p></td>
	  <td><p>
		<textarea name="tx_srsendcard_pi1[card_signature]" cols="60" rows="1" wrap="VIRTUAL">###CARD_SIGNATURE###</textarea></p>
	  </td>
	</tr>
	<tr>
         <td colspan="2" ><br />
		<div class="tx-srsendcard-pi1-radio">
		<p>###GW1B######NOTIFY_PROMPT###
		<input type="checkbox" name="tx_srsendcard_pi1[card_delivery_notify]" value="1" ###CARD_DELIVERY_NOTIFY### />###GW1E###</p>
		</div>
	  </td>
	</tr>
  </table>
  <br />
  <input type="hidden" name="tx_srsendcard_pi1[card_image]" value="###CARD_IMAGE###" />
  <input type="hidden" name="tx_srsendcard_pi1[card_image_path]" value="###CARD_IMAGE_PATH###" />
  <input type="hidden" name="tx_srsendcard_pi1[cardaltText]" value="###IMAGEALTTEXT###" />
  <input type="hidden" name="tx_srsendcard_pi1[selection_image]" value="###SELECTION_IMAGE###" />
  <input type="hidden" name="tx_srsendcard_pi1[selection_imagealtText]" value="###SELECTION_IMAGE_ALTTEXT###" />
  <input type="hidden" name="tx_srsendcard_pi1[card_caption]" value="###CARD_CAPTION###" />
  <input type="hidden" name="tx_srsendcard_pi1[link_pid]" value="###LINK_PID###" />
  <input type="hidden" name="tx_srsendcard_pi1[image_width]" value="###IMAGE_WIDTH###" />
  <input type="hidden" name="tx_srsendcard_pi1[image_height]" value="###IMAGE_HEIGHT###" />
  <input type="hidden" name="tx_srsendcard_pi1[selection_image_width]" value="###SELECTION_IMAGE_WIDTH###" />
  <input type="hidden" name="tx_srsendcard_pi1[selection_image_height]" value="###SELECTION_IMAGE_HEIGHT###" />
  <input type="hidden" name="tx_srsendcard_pi1[notfirsttime]" value="1" />
  <input type="hidden" name="tx_srsendcard_pi1[cmd]" value="preview" />
  <p><input type="submit" name="tx_srsendcard_pi1[preview]" value="###PREVIEW_BUTTON_LABEL###" title="###PREVIEW_BUTTON_LABEL###" alt="###PREVIEW_BUTTON_LABEL###" class="tx-srsendcard-pi1-submit" /></p>
</form>
	</td>
	<td width="15"> </td>
  </tr>
</table>
</div>
<!-- ###TEMPLATE_CARD_FORM### end -->


<BR><BR><BR><BR><HR><BR><BR><BR>
<h3>TEMPLATE_PREVIEW_CARD</h3>
<em>This is the template for the form where the sender previews the postcard.</em>
<br>
<br>
<br>
<br>
<!-- ###TEMPLATE_PREVIEW_CARD### begin
	This is the template for the form where the sender previews the postcard.
-->
<style TYPE="text/css">
<!--
.tx-srsendcard-pi1 .tx-srsendcard-pi1-card TABLE { background-color:###BGCOLOR###; }
.tx-srsendcard-pi1 .tx-srsendcard-pi1-card P {  font-family:###FONTFACE###; color:###FONTCOLOR###; background-color:###BGCOLOR###; }
.tx-srsendcard-pi1 .tx-srsendcard-pi1-card A:link { color:###FONTCOLOR###; font-family:###FONTFACE###; }
.tx-srsendcard-pi1 .tx-srsendcard-pi1-card A:visited { color:###FONTCOLOR###; }
.tx-srsendcard-pi1 .tx-srsendcard-pi1-card A:hover { color:###FONTCOLOR###; }
.tx-srsendcard-pi1 .tx-srsendcard-pi1-card A:active { color:###FONTCOLOR###; }
-->
</style>
<div class="tx-srsendcard-pi1">
<TABLE width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr> 
		<td valign="top">
			<div class="tx-srsendcard-pi1-card">
			<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
				<tr>
 					<td align="left">
						<table cellpadding="3">
							<tr>
								<td align="center">

<!--###IMG_INSERT### this subpart is removed if the image extension is not jpg, jpeg, gif or png -->
                   <img src="###CARD_IMAGE_PATH######CARD_IMAGE###" alt="###IMAGEALTTEXT###" title="###CARD_CAPTION###" style="width: ###IMAGE_WIDTH###px; height: ###IMAGE_HEIGHT###px; float: left;"  />
<!--###IMG_INSERT###-->

<!--###MUSIC_INSERT### this subpart is removed if no music is selected! -->
<object   type="application/x-oleobject" classid="clsid:6BF52A52-394A-11D3-B153-00C04F79FAA6" codebase="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=6,4,7,1112" style="width: ###IMAGE_WIDTH###px; height: 45px; margin: 0px; clear: both;">
	<param name="URL" value="###CARD_MUSIC_PATH######CARD_MUSIC###" valuetype="ref" type="audio/x-mid" />
	<param name="AutoStart" value="true" valuetype="data" />
	<param name="AudioStream" value="true" valuetype="data" />
	<param name="loop" value="false" valuetype="data" />
	<param name="ShowControls" value="true" valuetype="data" />
	<param name="ShowDisplay" value="false" valuetype="data" />
	<param name="ShowTracker" value="true" valuetype="data" />
	<param name="ShowPositionControls" value="true" valuetype="data" />
	<param name="ShowAudioControls" value="true" valuetype="data" />
	<param name="ShowSelectionControls" value="false" valuetype="data" />
	<!--[if !IE]> <-->
		<object type="audio/x-mid" standby="###LOADING_CARD_MUSIC###" data="###CARD_MUSIC_PATH######CARD_MUSIC###" style="width: ###IMAGE_WIDTH###px; height: 16px; clear: both;">
			<param name="src" value="###CARD_MUSIC_PATH######CARD_MUSIC###" valuetype="ref" type="audio/x-mid"/>
			<param name="autostart" value="true" valuetype="data" />
			<param name="loop" value="false" valuetype="data" />
			<param name="controls" value="VolumeSlider" valuetype="data" />
		</object>
	<!--> <![endif]-->
</object>
<!--###MUSIC_INSERT###-->

<!--###QUICKTIME_INSERT### this subpart is removed if the image extension is not mov -->
<object   classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" codebase="http://www.apple.com/qtactivex/qtplugin.cab" style="width: ###IMAGE_WIDTH###px; height: ###IMAGE_HEIGHT###px;" title="###CARD_CAPTION###">
	<param name="src" value="###CARD_IMAGE_PATH######CARD_IMAGE###" />
	<param name="autoplay" value="true" />
	<param name="cache" value="true" />
	<param name="kioskmode" value="true" />
	<param name="controller" value="true" />
	<param name="scale" value="aspect" />
	<!--[if !IE]> <-->
	<object type="video/quicktime" data="###CARD_IMAGE_PATH######CARD_IMAGE###" pluginspage="http://www.apple.com/###LANGUAGE###/quicktime/download/" style="width: ###IMAGE_WIDTH###px; height: ###IMAGE_HEIGHT###px;" title="###CARD_CAPTION###">
		<param name="autoplay" value="true" />
		<param name="cache" value="true" />
		<param name="kioskmode" value="true" />
		<param name="controller" value="true" />
		<param name="scale" value="aspect" />
	<!--> <![endif]-->
			<img src="###CARD_IMAGE_PATH######SELECTION_IMAGE###" alt="###SELECTION_IMAGE_ALTTEXT###" title="###CARD_CAPTION###" style="width: ###SELECTION_IMAGE_WIDTH###px; height: ###SELECTION_IMAGE_HEIGHT###px;"  />
			<br /><p>###NEED_QUICKTIME_MESSAGE### http://www.apple.com/###LANGUAGE###/quicktime/download/</p>
	<!--[if !IE]> <-->
	</object>
	<!--> <![endif]-->
</object>
<!--###QUICKTIME_INSERT###-->

<!--###SHOCKWAVE_INSERT### this subpart is removed if the image extension is not swf -->
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" style="width: ###IMAGE_WIDTH###px; height: ###IMAGE_HEIGHT###px;" title="###CARD_CAPTION###">
	<param name="movie" value="###CARD_IMAGE_PATH######CARD_IMAGE###" /> 
	<param name="play" value="true" />
	<param name="loop" value="false" />
	<param name="menu" value="true" />
	<param name="scale" value="showall" />
	<param name="quality" value="high" />
	<!--[if !IE]> <-->
	<object type="application/x-shockwave-flash" data="###CARD_IMAGE_PATH######CARD_IMAGE###" pluginspage="http://www.macromedia.com/go/getflashplayer" style="width: ###IMAGE_WIDTH###px; height: ###IMAGE_HEIGHT###px;" title="###CARD_CAPTION###"> 
		<param name="play" value="true" />
		<param name="loop" value="false" />
		<param name="menu" value="true" />
		<param name="scale" value="showall" />
		<param name="quality" value="high" />
	<!--> <![endif]-->
			<img src="###CARD_IMAGE_PATH######SELECTION_IMAGE###" alt="###SELECTION_IMAGE_ALTTEXT###" title="###CARD_CAPTION###" style="width: ###SELECTION_IMAGE_WIDTH###px; height: ###SELECTION_IMAGE_HEIGHT###px;" />
			<br /><p>###NEED_FLASH_MESSAGE### http://www.macromedia.com/go/getflashplayer</p>
	<!--[if !IE]> <-->
	</object>
	<!--> <![endif]-->
</object>
<!--###SHOCKWAVE_INSERT###-->

								</td>
							</tr>
							<tr>
								<td align="center">
									<p>###GW3B######CARD_CAPTION_PRESENT######GW3E###</p>
								</td>
							</tr>
						</table>
					</td>
					<td with="20"><img src="clear.gif" width="20" height="1" /></td>
					<td valign="top" width="100%">
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td align="left" valign="middle" width="100%">
									<p><a href="###TO_EMAIL_URL###">###CARD_TITLE_PRESENT###</a></p>
								</td>
								<td align="right" valign="top">###CARD_STAMP###
								</td>								
							</tr>
							<tr>
								<td align="left" colspan="2">
									<p>###CARD_MESSAGE_PRESENT###</p>
								</td>
							</tr>
							<tr>
								<td align="left" valign="bottom" colspan="2"><br />
									<p><a href="###FROM_EMAIL_URL###">###CARD_SIGNATURE_PRESENT###</a></p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<td width="###IMAGE_WIDTH###"><img src="clear.gif" width="###IMAGE_WIDTH###" height="1" /></td>
					<td width="20"><img src="clear.gif" width="20" height="1" /> </td>
					<td align="left">
      <form action="###FORM_URL###" method="POST">
      <input type="hidden" name="tx_srsendcard_pi1[card_image]" value="###CARD_IMAGE###" />
      <input type="hidden" name="tx_srsendcard_pi1[card_image_path]" value="###CARD_IMAGE_PATH###" />
      <input type="hidden" name="tx_srsendcard_pi1[cardaltText]" value="###IMAGEALTTEXT###" />
      <input type="hidden" name="tx_srsendcard_pi1[selection_image]" value="###SELECTION_IMAGE###" />
      <input type="hidden" name="tx_srsendcard_pi1[selection_imagealtText]" value="###SELECTION_IMAGE_ALTTEXT###" />
      <input type="hidden" name="tx_srsendcard_pi1[image_width]" value="###IMAGE_WIDTH###" />
      <input type="hidden" name="tx_srsendcard_pi1[image_height]" value="###IMAGE_HEIGHT###" />
      <input type="hidden" name="tx_srsendcard_pi1[selection_image_width]" value="###SELECTION_IMAGE_WIDTH###" />
      <input type="hidden" name="tx_srsendcard_pi1[selection_image_height]" value="###SELECTION_IMAGE_HEIGHT###" />
      <input type="hidden" name="tx_srsendcard_pi1[card_caption]" value="###CARD_CAPTION###" />
      <input type="hidden" name="tx_srsendcard_pi1[link_pid]" value="###LINK_PID###" />
      <input type="hidden" name="tx_srsendcard_pi1[to_name]" value="###TO_NAME###" />
      <input type="hidden" name="tx_srsendcard_pi1[to_email]" value="###TO_EMAIL###" />
      <input type="hidden" name="tx_srsendcard_pi1[from_name]" value="###FROM_NAME###" />
      <input type="hidden" name="tx_srsendcard_pi1[from_email]" value="###FROM_EMAIL###" />
      <input type="hidden" name="tx_srsendcard_pi1[bgcolor]" value="###BGCOLOR###" />
      <input type="hidden" name="tx_srsendcard_pi1[fontcolor]" value="###FONTCOLOR###" />
      <input type="hidden" name="tx_srsendcard_pi1[fontface]" value="###FONTFACE###" />
      <input type="hidden" name="tx_srsendcard_pi1[fontfile]" value="###FONTFILE###" />
      <input type="hidden" name="tx_srsendcard_pi1[fontsize]" value="###FONTSIZE###" />
      <input type="hidden" name="tx_srsendcard_pi1[card_title]" value="###CARD_TITLE###" />
      <input type="hidden" name="tx_srsendcard_pi1[card_message]" value="###CARD_MESSAGE###" />
      <input type="hidden" name="tx_srsendcard_pi1[card_signature]" value="###CARD_SIGNATURE###" />
      <input type="hidden" name="tx_srsendcard_pi1[card_music]" value="###CARD_MUSIC###" />
      <input type="hidden" name="tx_srsendcard_pi1[card_delivery_notify]" value="###CARD_DELIVERY_NOTIFY###" />
      <input type="hidden" name="tx_srsendcard_pi1[card_send_time]" value="###CARD_SEND_TIME###" />
      <input type="hidden" name="tx_srsendcard_pi1[day]" value="###CARD_SEND_DAY###" />
      <input type="hidden" name="tx_srsendcard_pi1[month]" value="###CARD_SEND_MONTH###" />
      <input type="hidden" name="tx_srsendcard_pi1[year]" value="###CARD_SEND_YEAR###" />
      <input type="hidden" name="tx_srsendcard_pi1[cmd]" value="send" />
      <p><input type="submit" name="tx_srsendcard_pi1[send]" value="###SEND_BUTTON_LABEL###" title="###SEND_BUTTON_LABEL###" alt="###SEND_BUTTON_LABEL###" class="tx-srsendcard-pi1-submit" /></p>
      </form>
					</td>
					<td align="left">
      <form action="###FORM_URL###" method="POST">
      <input type="hidden" name="tx_srsendcard_pi1[card_image]" value="###CARD_IMAGE###" />
      <input type="hidden" name="tx_srsendcard_pi1[card_image_path]" value="###CARD_IMAGE_PATH###" />
      <input type="hidden" name="tx_srsendcard_pi1[cardaltText]" value="###IMAGEALTTEXT###" />
      <input type="hidden" name="tx_srsendcard_pi1[selection_image]" value="###SELECTION_IMAGE###" />
      <input type="hidden" name="tx_srsendcard_pi1[selection_imagealtText]" value="###SELECTION_IMAGE_ALTTEXT###" />
      <input type="hidden" name="tx_srsendcard_pi1[image_width]" value="###IMAGE_WIDTH###" />
      <input type="hidden" name="tx_srsendcard_pi1[image_height]" value="###IMAGE_HEIGHT###" />
      <input type="hidden" name="tx_srsendcard_pi1[selection_image_width]" value="###SELECTION_IMAGE_WIDTH###" />
      <input type="hidden" name="tx_srsendcard_pi1[selection_image_height]" value="###SELECTION_IMAGE_HEIGHT###" />
      <input type="hidden" name="tx_srsendcard_pi1[card_caption]" value="###CARD_CAPTION###" />
      <input type="hidden" name="tx_srsendcard_pi1[link_pid]" value="###LINK_PID###" />
      <input type="hidden" name="tx_srsendcard_pi1[to_name]" value="###TO_NAME###" />
      <input type="hidden" name="tx_srsendcard_pi1[to_email]" value="###TO_EMAIL###" />
      <input type="hidden" name="tx_srsendcard_pi1[from_name]" value="###FROM_NAME###" />
      <input type="hidden" name="tx_srsendcard_pi1[from_email]" value="###FROM_EMAIL###" />
      <input type="hidden" name="tx_srsendcard_pi1[bgcolor]" value="###BGCOLOR###" />
      <input type="hidden" name="tx_srsendcard_pi1[fontcolor]" value="###FONTCOLOR###" />
      <input type="hidden" name="tx_srsendcard_pi1[fontface]" value="###FONTFACE###" />
      <input type="hidden" name="tx_srsendcard_pi1[fontfile]" value="###FONTFILE###" />
      <input type="hidden" name="tx_srsendcard_pi1[fontsize]" value="###FONTSIZE###" />
      <input type="hidden" name="tx_srsendcard_pi1[card_title]" value="###CARD_TITLE###" />
      <input type="hidden" name="tx_srsendcard_pi1[card_message]" value="###CARD_MESSAGE###" />
      <input type="hidden" name="tx_srsendcard_pi1[card_signature]" value="###CARD_SIGNATURE###" />
      <input type="hidden" name="tx_srsendcard_pi1[card_music]" value="###CARD_MUSIC###" />
      <input type="hidden" name="tx_srsendcard_pi1[card_delivery_notify]" value="###CARD_DELIVERY_NOTIFY###" />
      <input type="hidden" name="tx_srsendcard_pi1[card_send_time]" value="###CARD_SEND_TIME###" />
      <input type="hidden" name="tx_srsendcard_pi1[day]" value="###CARD_SEND_DAY###" />
      <input type="hidden" name="tx_srsendcard_pi1[month]" value="###CARD_SEND_MONTH###" />
      <input type="hidden" name="tx_srsendcard_pi1[year]" value="###CARD_SEND_YEAR###" />
      <input type="hidden" name="tx_srsendcard_pi1[notfirsttime]" value="1" />
      <input type="hidden" name="tx_srsendcard_pi1[cmd]" value="prompt" />
      <p><input type="submit" name="tx_srsendcard_pi1[modify]" value="###MODIFY_BUTTON_LABEL###" title="###MODIFY_BUTTON_LABEL###" alt="###MODIFY_BUTTON_LABEL###" class="tx-srsendcard-pi1-submit" /></p>
      </form>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</div>

<!-- ###TEMPLATE_PREVIEW_CARD### end -->




<BR><BR><BR><BR><HR><BR><BR><BR>
<h3>TEMPLATE_CARD_SENT</h3>
<em>This is the template for the 'is-sent' display.</em>
<br />
<br />
<!-- ###TEMPLATE_CARD_SENT### begin
	This is the template for the 'card sent' display.
-->

<p><b>###CARDSENT_THANK_YOU###<br /><br />
<a href="###FORM_URL###">###CARDSENT_SEND_ANOTHER###</a></b></p>

<!-- ###TEMPLATE_CARD_SENT### end -->



<BR><BR><BR><BR><HR><BR><BR><BR>
<h3>TEMPLATE_VIEW_CARD</h3>
<em>This is the template for the form where the sender previews the postcard.</em>
<br />
<br />
<!-- ###TEMPLATE_VIEW_CARD### begin
	This is the template for the form where the sender previews the postcard.
-->
<style TYPE="text/css">
<!--
.tx-srsendcard-pi1 .tx-srsendcard-pi1-card TABLE { background-color:###BGCOLOR###; }
.tx-srsendcard-pi1 .tx-srsendcard-pi1-card P {  font-family:###FONTFACE###; color:###FONTCOLOR###; background-color:###BGCOLOR###; }
.tx-srsendcard-pi1 .tx-srsendcard-pi1-card A:link { background-color:transparent; color:###FONTCOLOR###; text-decoration:none; font-weight:bold; font-family:###FONTFACE###; }
.tx-srsendcard-pi1 .tx-srsendcard-pi1-card A:visited { background-color:transparent; color:###FONTCOLOR###; font-weight:bold; text-decoration:none; }
.tx-srsendcard-pi1 .tx-srsendcard-pi1-card A:hover { background-color:transparent; color:###FONTCOLOR###; font-weight:bold; text-decoration:none; }
.tx-srsendcard-pi1 .tx-srsendcard-pi1-card A:active { background-color:transparent; color:###FONTCOLOR###; font-weight:bold; text-decoration:none; }
-->
</style>
<div class="tx-srsendcard-pi1">
<TABLE width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr> 
		<td valign="top">
			<div class="tx-srsendcard-pi1-card">
			<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
				<tr>
					<td align="left">
						<table cellpadding="3" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td align="center">

<!--###IMG_INSERT### this subpart is removed if the image extension is not jpg, jpeg, gif or png -->
                   <img src="###CARD_IMAGE_PATH######CARD_IMAGE###" alt="###IMAGEALTTEXT###" title="###CARD_CAPTION###" style="width: ###IMAGE_WIDTH###px; height: ###IMAGE_HEIGHT###px; float: left;"  />
<!--###IMG_INSERT###-->

<!--###MUSIC_INSERT### this subpart is removed if no music is selected! -->
<object   type="application/x-oleobject" classid="clsid:6BF52A52-394A-11D3-B153-00C04F79FAA6" codebase="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=6,4,7,1112" style="width: ###IMAGE_WIDTH###px; height: 45px; margin: 0px; clear: both;">
	<param name="URL" value="###CARD_MUSIC_PATH######CARD_MUSIC###" valuetype="ref" type="audio/x-mid" />
	<param name="AutoStart" value="true" valuetype="data" />
	<param name="AudioStream" value="true" valuetype="data" />
	<param name="loop" value="false" valuetype="data" />
	<param name="ShowControls" value="true" valuetype="data" />
	<param name="ShowDisplay" value="false" valuetype="data" />
	<param name="ShowTracker" value="true" valuetype="data" />
	<param name="ShowPositionControls" value="true" valuetype="data" />
	<param name="ShowAudioControls" value="true" valuetype="data" />
	<param name="ShowSelectionControls" value="false" valuetype="data" />
	<!--[if !IE]> <-->
		<object type="audio/x-mid" standby="###LOADING_CARD_MUSIC###" data="###CARD_MUSIC_PATH######CARD_MUSIC###" style="width: ###IMAGE_WIDTH###px; height: 16px; clear: both;">
			<param name="src" value="###CARD_MUSIC_PATH######CARD_MUSIC###" valuetype="ref" type="audio/x-mid"/>
			<param name="autostart" value="true" valuetype="data" />
			<param name="loop" value="false" valuetype="data" />
			<param name="controls" value="VolumeSlider" valuetype="data" />
		</object>
	<!--> <![endif]-->
</object>
<!--###MUSIC_INSERT###-->

<!--###QUICKTIME_INSERT### this subpart is removed if the image extension is not mov -->
<object classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" codebase="http://www.apple.com/qtactivex/qtplugin.cab" style="width: ###IMAGE_WIDTH###px; height: ###IMAGE_HEIGHT###px;" title="###CARD_CAPTION###">
	<param name="src" value="###CARD_IMAGE_PATH######CARD_IMAGE###" />
	<param name="autoplay" value="true" />
	<param name="cache" value="true" />
	<param name="kioskmode" value="true" />
	<param name="controller" value="true" />
	<param name="scale" value="aspect" />
	<!--[if !IE]> <-->
	<object type="video/quicktime" data="###CARD_IMAGE_PATH######CARD_IMAGE###" pluginspage="http://www.apple.com/###LANGUAGE###/quicktime/download/"style="width: ###IMAGE_WIDTH###px; height: ###IMAGE_HEIGHT###px;" title="###CARD_CAPTION###">
		<param name="autoplay" value="true" />
		<param name="cache" value="true" />
		<param name="kioskmode" value="true" />
		<param name="controller" value="true" />
		<param name="scale" value="aspect" />
	<!--> <![endif]-->
			<img src="###CARD_IMAGE_PATH######SELECTION_IMAGE###" alt="###SELECTION_IMAGE_ALTTEXT###" title="###CARD_CAPTION###" style="width: ###SELECTION_IMAGE_WIDTH###px; height: ###SELECTION_IMAGE_HEIGHT###px;"  />
			<br /><p>###NEED_QUICKTIME_MESSAGE### http://www.apple.com/###LANGUAGE###/quicktime/download/</p>
	<!--[if !IE]> <-->
	</object>
	<!--> <![endif]-->
</object>
<!--###QUICKTIME_INSERT###-->

<!--###SHOCKWAVE_INSERT### this subpart is removed if the image extension is not swf -->
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" style="width: ###IMAGE_WIDTH###px; height: ###IMAGE_HEIGHT###px;" title="###CARD_CAPTION###">
	<param name="movie" value="###CARD_IMAGE_PATH######CARD_IMAGE###" /> 
	<param name="play" value="true" />
	<param name="loop" value="false" />
	<param name="menu" value="true" />
	<param name="scale" value="showall" />
	<param name="quality" value="high" />
	<!--[if !IE]> <-->
	<object type="application/x-shockwave-flash" data="###CARD_IMAGE_PATH######CARD_IMAGE###" pluginspage="http://www.macromedia.com/go/getflashplayer" style="width: ###IMAGE_WIDTH###px; height: ###IMAGE_HEIGHT###px;" title="###CARD_CAPTION###"> 
		<param name="play" value="true" />
		<param name="loop" value="false" />
		<param name="menu" value="true" />
		<param name="scale" value="showall" />
		<param name="quality" value="high" />
	<!--> <![endif]-->
			<img src="###CARD_IMAGE_PATH######SELECTION_IMAGE###" alt="###SELECTION_IMAGE_ALTTEXT###" title="###CARD_CAPTION###" style="width: ###SELECTION_IMAGE_WIDTH###px; height: ###SELECTION_IMAGE_HEIGHT###px;" />
			<br /><p>###NEED_FLASH_MESSAGE### http://www.macromedia.com/go/getflashplayer</p>
	<!--[if !IE]> <-->
	</object>
	<!--> <![endif]-->
</object>
<!--###SHOCKWAVE_INSERT###-->

								</td>
							</tr>
							<tr>
								<td align="center">
									<p>###GW3B######CARD_CAPTION_PRESENT######GW3E###</p>
								</td>
							</tr>
						</table>
					</td>
					<td with="20"><img src="clear.gif" width="20" height="1" /></td>
					<td valign="top" width="100%">
						<table border="0" cellpadding="0" cellspacing="0" width=100%">
							<tr>
								<td align="left" valign="middle" width="100%">
									<p><a href="###TO_EMAIL_URL###">###CARD_TITLE###</a></p>
								</td>
								<td align="right" valign="top">###CARD_STAMP###
								</td>
							</tr>
							<tr>
 								<td align="left" colspan="2">
									<p>###CARD_MESSAGE###</p>
								</td>
							</tr>
							<tr>
								<td align="left" valign="bottom" colspan="2"><br />
									<p><a href="###FROM_EMAIL_URL###">###CARD_SIGNATURE###</a></p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<td width="###IMAGE_WIDTH###"><img src="clear.gif" width="###IMAGE_WIDTH###" height="1" /></td>
					<td width="20"><img src="clear.gif" width="20" height="1" /> </td>
					<td align="left">
						<p>
						<a href="###PRINT_CARD_URL###" target="_blank" title="###PRINTCARD_PROMPT###">###PRINT_ICON######PRINTCARD_PROMPT###</a>
						<br /><a href="###FORM_URL###" title="###SENDCARD_PROMPT###">###SENDCARD_PROMPT###</a></p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</div>

<!-- ###TEMPLATE_VIEW_CARD### end -->




<BR><BR><BR><BR><HR><BR><BR><BR>
<h3>TEMPLATE_PRINT_CARD</h3>
<em>This is the template for the form where the sender previews the postcard.</em>
<br>
<br>
<br>
<br>
<!-- ###TEMPLATE_PRINT_CARD### begin
	This is the template for the form where the sender previews the postcard.
-->
<style TYPE="text/css">
<!--
.tx-srsendcard-pi1 .tx-srsendcard-pi1-card TABLE { background-color:###BGCOLOR###; }
.tx-srsendcard-pi1 .tx-srsendcard-pi1-card P {  font-family:###FONTFACE###; color:###FONTCOLOR###; background-color:###BGCOLOR###; }
.tx-srsendcard-pi1 .tx-srsendcard-pi1-card A:link { background-color:transparent; color:###FONTCOLOR###; text-decoration:none; font-weight:bold; font-family:###FONTFACE###; }
.tx-srsendcard-pi1 .tx-srsendcard-pi1-card A:visited { background-color:transparent; color:###FONTCOLOR###; font-weight:bold; text-decoration:none; }
.tx-srsendcard-pi1 .tx-srsendcard-pi1-card A:hover { background-color:transparent; color:###FONTCOLOR###; font-weight:bold; text-decoration:none; }
.tx-srsendcard-pi1 .tx-srsendcard-pi1-card A:active { background-color:transparent; color:###FONTCOLOR###; font-weight:bold; text-decoration:none; }
-->
</style>
<div class="tx-srsendcard-pi1">
<TABLE width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr> 
		<td valign="top">
			<div class="tx-srsendcard-pi1-card">
			<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
				<tr>
					<td align="left">
						<table cellpadding="3" border="0" cellspacing="0">
							<tr>
								<td align="center">
<!--###IMG_INSERT### this subpart is removed if the image extension is not jpg, jpeg, gif or png -->
                   <img src="###CARD_IMAGE_PATH######CARD_IMAGE###" alt="###IMAGEALTTEXT###" title="###CARD_CAPTION###" style="width: ###IMAGE_WIDTH###px; height: ###IMAGE_HEIGHT###px;"  />
<!--###IMG_INSERT###-->
								</td>
							</tr>
							<tr>
								<td align="center">
									<p>###GW3B###<b>###CARD_CAPTION###</b>###GW3E###</p>
								</td>
							</tr>
						</table>
					</td>
					<td with="20"><img src="clear.gif" width="20" height="1" /></td>
					<td valign="top" width="100%">
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td align="left" valign="middle" width="100%">
									<p><a href="###TO_EMAIL###_URL">###CARD_TITLE###</a></p>
								</td>
								<td align="right" valign="top">###CARD_STAMP###
								</td>
							</tr>
							<tr>
								<td align="left" colspan="2">
									<p>###CARD_MESSAGE###</p>
								</td>
							</tr>
							<tr>
								<td align="left" valign="bottom" colspan="2"><br />
									<p><a href="###FROM_EMAIL_URL###">###CARD_SIGNATURE###</a>
									<br />###FROM_EMAIL###</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			</div>
		</td>
	</tr>
</table>
</div>
<!-- ###TEMPLATE_PRINT_CARD### end -->



<br /><br /><br /><br /><hr /><br /><br /><br />
<h3>TEMPLATE_CARD_NOT_FOUND</h3>
<em>This is the template for the 'card not found' display.</em>
<br />
<br />
<!-- ###TEMPLATE_CARD_NOT_FOUND### begin-->

<p><b>###CARDNOTFOUND_SORRY###<br /><br />
###CARDNOTFOUND_INSTRUCTIONS###
</b></p>
<!-- ###TEMPLATE_CARD_NOT_FOUND### end -->



<br /><br /><br /><br /><hr /><br /><br /><br />
<h3>TEMPLATE_EMAIL_CARD_SENT</h3>
<em>Template for the plain link notification email. First line is used as subject for the mail.</em>
<br />
<br />
<pre>
<!-- ###TEMPLATE_EMAIL_CARD_SENT### begin-->

###EMAIL_CARDSENT_SUBJECT1######FROM_NAME######EMAIL_CARDSENT_SUBJECT2###


###EMAIL_CARDSENT_TITLE1######TO_NAME######EMAIL_CARDSENT_TITLE2###

###EMAIL_CARDSENT_TEXT1######FROM_NAME######EMAIL_CARDSENT_TEXT2###

###EMAIL_CARDSENT_TEXT3######CARD_URL######EMAIL_CARDSENT_TEXT4###

###EMAIL_SIGNATURE###
###SITE_NAME###
###SITE_URL###
###SITE_EMAIL###

<!-- ###TEMPLATE_EMAIL_CARD_SENT### end -->
</pre>



<br /><br /><br /><br /><hr /><br /><br /><br />
<h3>TEMPLATE_EMAIL_CARD_SENT_HTML</h3>
<em>Template for the HTML notification email sent to the card recipient.</em>
<br />
<br />
<!-- ###TEMPLATE_EMAIL_CARD_SENT_HTML### begin -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<STYLE TYPE="text/css">
<!--
###CSS_STYLES###
-->
</STYLE>
<title>###EMAIL_CARDSENT_SUBJECT1######FROM_NAME######EMAIL_CARDSENT_SUBJECT2###</title>
<meta http-equiv="Content-Type" content="text/html; charset=###CHARSET###">
<meta name="generator" content="Typo 3.5 CMS">
</head>
<body bgColor="#ffffff" leftmargin="10" topmargin="10" marginwidth="10" marginheight="10">
<div class="tx-srsendcard-pi1">
<table border="0" cellspacing="0" cellpadding="1" width="100%">
	<tr><td>
		<p>###GW1B######EMAIL_CARDSENT_TITLE1######TO_NAME######EMAIL_CARDSENT_TITLE2######GW1E###</p>
		<p>###EMAIL_CARDSENT_TEXT1######FROM_NAME######EMAIL_CARDSENT_TEXT2###</p>
		<p>###EMAIL_CARDSENT_TEXT3###<a href="###CARD_URL###">###CARD_URL###</a>###EMAIL_CARDSENT_TEXT4###</p>
		<p>###EMAIL_SIGNATURE###<br />
		###GW1B######SITE_NAME######GW1E###<br />
		<a href="###SITE_URL###">###SITE_WWW###</a><br />
		<a href="mailto:###SITE_EMAIL###">###SITE_EMAIL###</a></p>
	</td></tr>
</table>
</div>
</body></html>
<!-- ###TEMPLATE_EMAIL_CARD_SENT_HTML### end-->



<h3>TEMPLATE_EMAIL_CARD_VIEWED</h3>
<em>
Template for the plain link notification email.
First line is used as subject for the mail.<br>
</em><br>
<br>
<br>
<pre>
<!-- ###TEMPLATE_EMAIL_VIEWED### begin
	Template for the plain link notification email.
	First line is used as subject for the mail.
-->
###EMAIL_CARDVIEWED_SUBJECT1######EMAIL_CARDVIEWED_SUBJECT2###

###EMAIL_CARDVIEWED_TITLE1######TO_NAME######EMAIL_CARDVIEWED_TITLE2###

###EMAIL_CARDVIEWED_TEXT1###

###FROM_NAME######EMAIL_CARDVIEWED_TEXT2######DATE######EMAIL_CARDVIEWED_TEXT3###

###EMAIL_SIGNATURE###
###SITE_NAME###
###SITE_URL###
###SITE_EMAIL###

<!-- ###TEMPLATE_EMAIL_VIEWED### end -->
</pre>



<br /><br /><br /><br /><hr /><br /><br /><br />
<h3>TEMPLATE_EMAIL_VIEWED_HTML</h3>
<em>Template for the HTML notification email sent to the card recipient.</em>
<br />
<br />
<!-- ###TEMPLATE_EMAIL_VIEWED_HTML### begin -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<STYLE TYPE="text/css">
<!--
###CSS_STYLES###
-->
</STYLE>
<title>###EMAIL_CARDVIEWED_SUBJECT1######EMAIL_CARDVIEWED_SUBJECT2###</title>
<meta http-equiv="Content-Type" content="text/html; charset=###CHARSET###">
<meta name="generator" content="Typo 3.5 CMS">
</head>
<body bgColor="#ffffff" leftmargin="10" topmargin="10" marginwidth="10" marginheight="10">
<div class="tx-srsendcard-pi1">
<table border="0" cellspacing="0" cellpadding="1" width="100%">
	<tr><td>
		<p>###GW1B######EMAIL_CARDVIEWED_TITLE1######TO_NAME######EMAIL_CARDVIEWED_TITLE2######GW1E###</p>
		<p>###EMAIL_CARDVIEWED_TEXT1###</p>
		<p>###FROM_NAME######EMAIL_CARDVIEWED_TEXT2######DATE######EMAIL_CARDVIEWED_TEXT3###</p>
		<p>###EMAIL_SIGNATURE###<br />
		###GW1B######SITE_NAME######GW1E###<br />
		<a href="###SITE_URL###">###SITE_WWW###</a><br />
		<a href="mailto:###SITE_EMAIL###">###SITE_EMAIL###</a></p>
	</td></tr>
</table>
</div>
</body></html>
<!-- ###TEMPLATE_EMAIL_VIEWED_HTML### end-->


</BODY>
</HTML>
