<f:be.container>
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left">
					<f:be.buttons.csh />
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="{f:translate(key: 'LLL:EXT:sr_sendcard/Resources/Private/Language/locallang_mod.xlf:function1')}" controller="Statistics" action="index" />
						<f:be.menus.actionMenuItem label="{f:translate(key: 'LLL:EXT:sr_sendcard/Resources/Private/Language/locallang_mod.xlf:function2')}" controller="Statistics" action="recent" />
						<f:be.menus.actionMenuItem label="{f:translate(key: 'LLL:EXT:sr_sendcard/Resources/Private/Language/locallang_mod.xlf:function3')}" controller="Statistics" action="popular" />
					</f:be.menus.actionMenu>
				</div>
				<div class="right">
				</div>
			</div>
			<div class="typo3-docheader-buttons">
				<div class="left">
				</div>
				<div class="right">
					<f:be.buttons.shortcut />
				</div>
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<h2>{f:translate(key: 'LLL:EXT:sr_sendcard/Resources/Private/Language/locallang_mod.xlf:title')}</h2>
				<f:flashMessages renderMode="div" />
				<f:render section="Content" />
			</div>
		</div>
	</div>
</f:be.container>