<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th valign="top">
				<strong>
					<f:translate key="LLL:EXT:sr_sendcard/Resources/Private/Language/locallang_mod.xlf:cardTimes" />
				</strong>
			</th>
			<th><span style="width: 10px; height: 1px; display: inline-block"></span></th>
			<th valign="top">
				<strong>
					<f:translate key="LLL:EXT:sr_sendcard/Resources/Private/Language/locallang_mod.xlf:cardTitle" />
				</strong>
			</th>
			<th><span style="width: 10px; height: 1px; display: inline-block"></span></th>
			<th valign="top">
				<strong>
					<f:translate key="LLL:EXT:sr_sendcard/Resources/Private/Language/locallang_mod.xlf:cardLastTime" />
				</strong>
			</th>
			<th><span style="width: 10px; height: 1px; display: inline-block"></span></th>
		</tr>
	</thead>
	<tbody>
		<f:for each="{entries}" as="entry">
			<tr>
				<td valign="top">
					{entry.cardTimes}
				</td>
				<td><span style="width: 10px; height: 1px; display: inline-block"></span></td>
				<td valign="top">
					{entry.cardTitle}
				</td>
				<td><span style="width: 10px; height: 1px; display: inline-block"></span></td>
				<td valign="top">
					<f:format.date format="%Y-%m-%d">{entry.cardLastTime}</f:format.date>
				</td>
				<td><span style="width: 10px; height: 1px; display: inline-block"></span></td>
			</tr>
		</f:for>
	</tbody>
</table>